Print number from 1 to 5 uing a while loop.

In [2]:
num = 1
while num <=5:
    print(num)
    num = num + 1

1
2
3
4
5

Calclate the sum of number from 1 to 10 uing a while loop.

In [4]:
sum = 0
num=1
while num <=10:
    num = num+1
    sum = sum+num
print(sum)

65

Calculate the factorial of a number using a for loop.

In [18]:
fact = 1
num= int(input("enter a number:"))
if num < 1:
    print("Kya aadmi ho bhai")
else:
    for i in range(1,num+1):
        fact = fact*i
print(fact)

enter a number:4
24

Count the number of vowel in a string uing a for loop.

In [37]:
vowels=[]
for i in input("enter strings:"):
    string = i.upper()
    if "A" in string or "E" in string or "I"in string or "O"in string or "U" in string:
         vowels.append(i)
print(len(vowels))

enter strings:gupta
2

Print a pattern using nested loop.

In [42]:
for i in range(1, 6): 
    for j in range(i):  # Number of asterisks in each row
        print("*", end="")
    print()  # Move to the next line after printing each row

*
**
***
****
*****

Generate a mltiplication table using nested loop.

In [51]:
for i in  range (1,5):
    for j in range(1,11):
        print(f" {i} * {j} = {i*j}")
    print()

 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10

 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20

 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30

 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40